.cardDeatilTop{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    justify-items: left;
    font-size: 15px;
    align-self: flex-start;
    .detailItem{
        margin-right: 50px;
        width: 155px;
    }
}